svg(
  ng-attr-width="{{viewport.width + 2*viewport.paddingLeft}}"
  ng-attr-height="{{viewport.height}}"
  )
  g(ng-attr-transform="translate({{viewport.paddingLeft}}, {{viewport.paddingTop}})")
    line.mouse(
      ng-attr-x1="{{lineX}}"
      y1="0"
      ng-attr-x2="{{lineX}}"
      ng-attr-y2="{{viewport.height}}"
      )

    line.X-Axis(
      x1="0"
      ng-attr-y1="{{yscale(0)}}"
      ng-attr-x2="{{viewport.innerWidth}}"
      ng-attr-y2="{{yscale(0)}}"
      stroke="gray"
      )

    path(
      ng-repeat="curve in curves" 
      ng-attr-d="{{curve._line}}" 
      stroke="{{curve.color}}" 
      fill="none" 
      stroke-width="{{$index==currentPath ? 2 : 2}}"
      )

    path.click-target(
      ng-repeat="curve in curves" 
      ng-attr-d="{{curve._line}}" 
      fill="none"
      stroke="{{curve.color}}" 
      stroke-width="20"
      ng-click="selectPath($event,$index)"
      ng-hide="$index==currentPath"
      )
    
    line.Y-Axis(
      x1="0"
      ng-attr-y1="{{viewport.innerWidth}}"
      x2="0"
      y2="0"
      stroke="gray"
      )

    line.Y-steps(
      ng-repeat="y in ySteps"
      ng-attr-x1="{{-viewport.paddingLeft + 5}}"
      x2="0"
      ng-attr-y1="{{yscale(y)}}"
      ng-attr-y2="{{yscale(y)}}"
      stroke="gray"
      )

    circle(
        ng-repeat="item in curves[currentPath].item"
        ng-attr-cx="{{xscale(item.index)}}"
        ng-attr-cy="{{yscale(item.value)}}"
        fill = "{{curves[currentPath].color}}"
        r="4")
    g.hover
      circle(
        ng-attr-cx="{{xscale(curves[currentPath].item[currentPoint].index)}}"
        ng-attr-cy="{{yscale(curves[currentPath].item[currentPoint].value)}}"
        ng-hide="currentPoint === undefined"
        r="8")

      rect.value(
        ng-attr-x = "{{getRectTextX(xscale)}}"
        ng-attr-y = "{{yscale(curves[currentPath].item[currentPoint].value) - 42 > 5 ? \
          yscale(curves[currentPath].item[currentPoint].value) - 42 : \
          yscale(curves[currentPath].item[currentPoint].value) + 16}}"
        width = "{{curves[currentPath].item[currentPoint].value.toFixed(2).toString().length * 11}}"
        height = "26"
        fill = "{{curves[currentPath].color}}"
        rx = "10"
        ry = "10"
        ng-hide = "currentPoint === undefined"
        )
      text.value(
        ng-attr-x = "{{getTextX(xscale)}}"
        ng-attr-y = "{{yscale(curves[currentPath].item[currentPoint].value) - 42 > 5 ? \
          yscale(curves[currentPath].item[currentPoint].value) - 23 : \
          yscale(curves[currentPath].item[currentPoint].value) + 35}}"
        text-anchor = "middle"
        ng-hide = "currentPoint === undefined"
        ) {{+curves[currentPath].item[currentPoint].value.toFixed(2)}}

  g(ng-attr-transform="translate({{viewport.width - viewport.paddingRight + 30}}, {{viewport.paddingTop + 15}})")
    text.user(
      ng-repeat="curve in curves"
      x="0"
      ng-attr-y="{{$index * 20}}"
      text-anchor = "left"
      font-size = "{{$index == currentPath ? 20 : 15}}"
      font-weight = "{{$index == currentPath ? 'bold' : 'normal'}}"
      fill = "{{curve.color}}"
      ng-click="selectPath($event,$index)"
      ) {{curve.item[0].user}}
